# String Interpolation

In [1]:
# It provides access to embedded python expressions inside string constants.
name = 'Hello'
program = ''

In [9]:
a = 12
b = 3
print(f'12 multiply 3 is { a * b}.')

12 multiply 3 is 36.

# % Formating in python

In [24]:
print("%s %s",{'Hello', 'Duniya',})

SyntaxError: invalid syntax. Perhaps you forgot a comma? (633687568.py, line 1)

In [19]:
# str.format()

string = 'hello'
'Duniya {}'.format(string)

'Duniya hello'

In [32]:
# Python Zip() function
lang = ['Java','Python','JavaScript']
version = [3.3, 3.1, 4.5]

result = zip(lang,version)
print(list(result), type(list(result)))

(('Java', 3.3), ('Python', 3.1), ('JavaScript', 4.5)) <class 'tuple'>

In [33]:
# Python Zip() function
lang = ['Java','Python','JavaScript']
version = [3.3, 3.1, 4.5]

result = zip(lang,version)
print(tuple(result), type(tuple(result)))

(('Java', 3.3), ('Python', 3.1), ('JavaScript', 4.5)) <class 'tuple'>

# The Great Pandas of Python :)

In [38]:
# Importing Pandas
import pandas as pd
# data index and name
str = pd.Series(data = [1,2,3,4],index = ['a','b','c','d'], name='count')
print(str)

a    1
b    2
c    3
d    4
Name: count, dtype: int64

In [39]:
# Importing Pandas
import pandas as pd
# data and name
str = pd.Series(data = [1,2,3,4], name='count')
print(str)

0    1
1    2
2    3
3    4
Name: count, dtype: int64

In [42]:
# Importing Pandas
import pandas as pd
# only data
str = pd.Series(data = [1,2,3,4])
print(str)
print('Type: ',type(str))

0    1
1    2
2    3
3    4
dtype: int64
Type:  <class 'pandas.core.series.Series'>

In [43]:
str.index

RangeIndex(start=0, stop=4, step=1)

In [45]:
# Importing Pandas
import pandas as pd
# only data
str = pd.Series(data = [i for i in range(4)])
print(str)

0    0
1    1
2    2
3    3
dtype: int64

In [47]:
mask = str > str.median()
mask

0    False
1    False
2     True
3     True
dtype: bool

In [50]:
# Updating Series 
str[3] =9
str['4']= 22
str

0     0
1     1
2     2
3     9
3     9
4    22
dtype: int64

In [52]:
# Deleting Value
del str['4']
str

0    0
1    1
2    2
3    9
3    9
dtype: int64

In [60]:
# Index as float Value
str['4.1'] = 5.3
str

0          0.0
1          1.0
2          2.0
3          9.0
3          9.0
4.1        5.3
4.14.1    10.6
dtype: float64

In [66]:
# checking index True or False
print(str.index.is_unique)

True

In [71]:
# slicing in Series
print(str[1:3])

1    1.0
2    2.0
dtype: float64

In [73]:
# loc for Custom Index
# iloc for by default index
str.loc[2]

2.0

In [127]:
songs = pd.Series(
    data = [3, None, 11, 9], 
    index = ['1', '2','3', '4'], 
    name = 'counts')
songs

1     3.0
2     NaN
3    11.0
4     9.0
Name: counts, dtype: float64

In [128]:
# Iterating over Series
print(songs.items())
for idx  , value in songs.items():
    print(idx, value)

<zip object at 0x00000167A9293800>
1 3.0
2 nan
3 11.0
4 9.0

In [129]:
# Unique 
print(songs.unique())
print(songs.nunique())

[ 3. nan 11.  9.]
3

In [130]:
# drop duplicates

print(songs.drop_duplicates())

1     3.0
2     NaN
3    11.0
4     9.0
Name: counts, dtype: float64

In [131]:
# .duplicated()
songs.duplicated()

1    False
2    False
3    False
4    False
Name: counts, dtype: bool

In [132]:
# groupby
print(songs.groupby(songs.index).first())

1     3.0
2     NaN
3    11.0
4     9.0
Name: counts, dtype: float64

In [133]:
# sum
songs.sum()

23.0

# DataFrame

In [139]:
import numpy as np
ser1 = pd.Series(list('abcdefghijklmnopqrstuvxyz'))
print(ser1)

0     a
1     b
2     c
3     d
4     e
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    x
23    y
24    z
dtype: object

In [140]:
ser2 = pd.Series(np.arange(26))
print(ser2)

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
21    21
22    22
23    23
24    24
25    25
dtype: int32

In [145]:
# Solution1
df = pd.concat([ser1,ser2], axis=1)
print(df.head())

   0  1
0  a  0
1  b  1
2  c  2
3  d  3
4  e  4

In [146]:
# Solution2
df = pd.DataFrame({'A-Z':ser1, 'Number':ser2})
print(df.head())

  A-Z  Number
0   a       0
1   b       1
2   c       2
3   d       3
4   e       4

In [149]:
# access columns
df['A-Z']

0       a
1       b
2       c
3       d
4       e
5       f
6       g
7       h
8       i
9       j
10      k
11      l
12      m
13      n
14      o
15      p
16      q
17      r
18      s
19      t
20      u
21      v
22      x
23      y
24      z
25    NaN
Name: A-Z, dtype: object

AttributeError: 'tuple' object has no attribute 'shape'